*{
    margin: 0%;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    background-color: #2A2B2A;
    color: white;
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

h2{
    padding: 20px;
    text-align: center;
    border-left-style: solid #F5124B;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section{
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#banner{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 1050px;
    border: solid 1px #2A2B2A;
}

#banner img{
    justify-content: center;
    width: 750px;
    height: 800px;
}

#banner p{
    padding: 40px;
}
button{
    width: 100px;
    height: 30px;
    border: none;
    color: white;
    background-color: #F5124B;
    border-radius: 5px;
}

